.ph-city {
    color: #901c1c;
    font-size: 1.5em;
    margin: 0;
}
.ph-infos h2 {
    color: #d3573c;
    font-size: 2.4em;
    font-weight: 400;
    margin: 0;
}
.ph-profil {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    margin: 0 20px;
}
.ph-profil button {
    background: #901c1c;
    border: none;
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    height: 50px;
    width: 170px;
}
.ph-profil button:hover {
    background: #651414;
    transform: scale(1.05);
}
.ph-profil img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}
@media (max-width: 1200px) {
    .ph-profil button {
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
    }
}
@media (min-width: 1200px) {
    .ph-profil {
        background-color: #FAFAFA;
        margin: 0 20px;
    }
    .ph-profil button {
        height: 55px;
        left: 42rem;
        position: absolute;
        top: 9.8rem;
    }
}
@media (min-width: 900px) {
    .ph-city {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .ph-infos h2 {
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .ph-profil {
        background: #fafafa;
        padding: 2rem;
    }
    .ph-profil img {
        height: 200px;
        width: 200px;
    }
}